* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titan One', cursive;
}

body {
    background-color: #e44848;
    font-size: 16px;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    flex: 1;
    display: flex;
    align-items: center;
}

.title {
    color: #FFE6BE;
    text-decoration: underline;
}

h1  {
    font-size: clamp(1rem, 7vw, 2.5rem);
}

main {
    flex: 10;
    background-color: #FFE6BE;
    width: 80%;
    border: 0.2rem solid rgb(10, 0, 46);
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    flex-wrap: wrap;
}

.announce-winner {
    transition: 0.2s;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 3vw);
}

.announce-game-winner {
    transform: scale(1.2);
}

/* Player Selection Options */

.options {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 0.5rem;
}

.icon-button {
    background-color: transparent;
    border: none;
}

.icon {
    color: #e44848;
    font-size: 6rem;
    transition: 0.1s;
}

.icon-active {
    color: #4b37a1;
    transform: scale(1.1);
}

.option > p {
    font-size: 1.5rem;
}

.option.rock > p {
    margin-left:15px;
}

/* Score */

.score {
    text-align: center;
    font-size: 1.3rem;
}

/* Game Restart Button */

.restart-game {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: #e4484875;
    border-radius: 0.35rem;
    border: none;
    color: #FFE6BE;
    letter-spacing: 1px;
    font-size: 2rem;
    transition: 0.2s;
}

.restart-game:hover {
    opacity: 0.9;
}

.restart-game-whileplaying {
    background-color: #e44848;   
}

.restart-game-click {
    transform: scale(1.1);
}

/* RESPONSIVE */

@media (max-width: 545px) {
    .announce-winner {
        margin: 0 10px;
    }
    .announce-game-winner {
        transform: scale(1.05);
    }

    .options {
        gap: 0;
    }

    .option {
        padding: 1rem;
        gap: 0;
    }

    .icon {
        font-size: 3rem;
    }

    .option > p {
        font-size: 1rem;
    }
    
    .option.rock > p {
        margin-left:0;
    }

    .score {
        font-size: 0.8rem;
    }

    .restart-game {
        font-size: 1rem;
    }
}